body{
    background-image: url(https://www.tapeteos.pl/data/media/185/big/boze_narodzenie__swieta_1920x1080_046_choinka.jpg);
}
.bg-color{
    background-color: darkred;
}
.bg-colors{
    background-color: rgba(0, 0, 0, 0.703);
}
.div1{
    height: 50px;
}
.text{
    font-size: 30px;
    font-weight: 500;
}
.cont{
    margin-top: 10px;
    border-radius: 30px;
    border: black solid 3px;
}
.font{
    color: blanchedalmond;
}